
<%# <%= form_for(@question) do |f| %>
 <!-- <p>タイトル</p> -->
  <!-- <p><%#= f.text_field :title %></p> -->
  <!-- <p>質問内容</p> -->
  <!-- <p><%#= f.text_area :content %></p> -->
  <%# <%= f.submit %>
<%# <% end %>


<!-- ***** Contact Area Start ***** -->
<section class="contact-area section_padding_100">
    <div class="container">
        <div class="row">


            <!-- Contact Form Area -->
            <div class="col-12">
                <div class="contact-form-area">
                    <h2>質問する</h2>

                    <%= form_for(@question) do |f| %>
                          <div class="row">
                              <!-- <div class="col-12 col-md-6">
                                  <input type="text" class="form-control" id="name" placeholder="Name">
                              </div>
                              <div class="col-12 col-md-6">
                                  <input type="email" class="form-control" id="email" placeholder="E-mail">
                              </div> -->
                              <div class="col-12">
                                  <%= f.text_field :title ,:class =>"form-control", :id => "subject" ,:placeholder=>"タイトルを入力してください"%>
                                  <!-- <input type="text" class="form-control" id="subject" placeholder="Subject"> -->
                              </div>


                              <div class="col-12">
                                  <%= f.text_area :content, :class => "form-control", :id => "message", :cols => "30", :rows  =>"10" ,:placeholder=>"質問内容を入力してください"%>
                                  <!-- <textarea name="message" class="form-control" id="message" cols="30" rows="10"></textarea> -->
                              </div>
                              <%# <%= f.submit %>
                              <button type="submit">send</button>

                          </div>

                    <% end %>

                </div>
            </div>


        </div>
    </div>
</section>
