<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>


<p><%= link_to "質問一覧" ,questions_path  %></p>


#######################
<p><%= @question.id %></p>
<p>タイトル：<%= @question.title %></p>
<p>内容：<%= @question.content %></p>


<p><%= link_to "編集" ,  edit_question_path(@question) %></p>
<p><%= link_to "削除" ,question_path(@question), :method => :delete %></p>
