<!DOCTYPE html>
<html>
  <head>
    <title>Hack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/assets/css/css/responsive.css" rel="stylesheet">


  </head>

  <body>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


        <!-- ***** Preloader Start ***** -->
        <div id="preloader">
            <div class="selene-preloader"></div>
        </div>

        <!-- ***** Header Area Start ***** -->
        <header class="header_area animated">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Menu Area Start -->
                    <div class="col-12">
                        <div class="menu_area">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <!-- Logo -->
                                <a class="navbar-brand" href="#">Kawanoji</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#selene-navbar" aria-controls="selene-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                                <!-- Menu Area -->
                                <div class="collapse navbar-collapse" id="selene-navbar">
                                    <ul class="navbar-nav ml-auto" id="nav">

                                              <% if user_signed_in? %>
                                                <li class="nav-item"><%= link_to '近況報告', posts_path , class: "nav-link" %></li>
                                                <li class="nav-item"><%= link_to 'Q&A', questions_path , class: "nav-link" %></li>
                                                <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,  class: "nav-link" %></li>
                                              <% else %>
                                                  <li class="nav-item"><%= link_to 'sign in', new_user_session_path, class: "nav-link"  %></li>
                                                  <li class="nav-item"><%= link_to 'sign up', new_user_registration_path , class: "nav-link" %></li>
                                              <% end %>

                                              <li class="nav-item"><%= link_to 'このサイトについて', new_user_registration_path , class: "nav-link" %></li>

                                    </ul>
                                    <!-- Search btn -->
                                    <div class="search-button d-lg-none">
                                        <a href="#" class="search-btn">
                                            <!-- <img src="assets/img/core-img/search-icon.png" alt="Search"> -->
                                        </a>
                                    </div>
                                </div>
                                <!-- Search btn -->
                                <div class="search-button d-none d-lg-block">
                                    <!-- <a href="#" class="search-btn">
                                        <!-- <img src="assets/img/core-img/search-icon.png" alt="Search"> -->
                                    <!-- </a>  -->
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <%= yield %>

        <!-- ***** Footer Area Start ***** -->
        <footer class="footer-area text-center clearfix">
            <!-- Shape 1 -->
            <div class="footer-bg-shape">
                <img src="assets/img/core-img/footer-bg.png" alt="Footer Shape">
            </div>
            <!-- Shape 2 -->
            <div class="footer-bg-shape-2">
                <img src="assets/img/core-img/price-table.png" alt="">
            </div>

            <div class="container h-100">
                <div class="row h-100 justify-content-center">
                    <div class="col-12 col-md-8">
                        <div class="footer-content">
                            <h2>Welcome to KAWANOJI</h2>
                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus. </h4>
                        </div>
                        <div class="app-download-area">
                            <div class="app-download-btn active">
                                <!-- Google Store Btn -->
                                <a href="#"><i class="fa fa-android"></i><p class="mb-0"><span>available on</span> Google Store</p></a>
                            </div>
                            <div class="app-download-btn">
                                <!-- Apple Store Btn -->
                                <a href="#"><i class="fa fa-apple"></i><p class="mb-0"><span>available on</span> Apple Store</p></a>
                            </div>
                        </div>
                        <div class="footer-social-info">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                        <!-- Foooter Text-->
                        <div class="copyright-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- ***** Footer Area End ***** -->
<!-- <script src="/assets/js/jquery-1.11.1.min.js"></script> -->
        <!-- jQuery-2.2.4 js -->
        <script src="/assets/js/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="/assets/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="/assets/js/plugins.js"></script>
        <!-- Active js -->
        <script src="/assets/js/active.js"></script>

  </body>
</html>
